<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8"> 
        <title>MARCAÇÃO BARBEARIA SAPUCAIA</title>
    </head>
    <body>
        <body style="background-color:#93B4EA;"></body> 
        <center>
        <h1 style="border:3px solid rgb(8, 8, 8)",>Editar Horarios</h1>
        <% crud.forEach(function(details) { %> 
            <form action="/edit/<%= details._id %>" method="POST"> 
                <input type="text" value="<%= details.name %>" name="name"> 
                <input type="text" value="<%= details.surname %>" name="surname"> 
                <input type="text" value="<%= details.telefone %>" name="telefone">
                <input type="text" value="<%= details.corte %>" name="corte">
                <input type="time" value="<%= details.horario%>" name="horario">
                <br /> 
                <button><a href="/show">Todos</a></button> 
                <button type="submit">Editar</button> 
            </form> 
        </center>
            <% }) %> 
        </body>
        </html>